@import 'react-image-gallery/styles/css/image-gallery.css';

:root {
  --header-height: 60px;
}

/* Ẩn thanh cuộn ngang nhưng vẫn cuộn được */
html {
  overflow-y: auto; /* Chỉ hiển thị thanh cuộn dọc */
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}

/* Tùy chỉnh thanh cuộn */
*::-webkit-scrollbar {
  width: 8px; /* Chiều rộng thanh cuộn dọc */
  height: 8px; /* Chiều cao thanh cuộn ngang */
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #333;
}

/* Custom styles */
.tw-primary-gradient {
  @apply tw-bg-gradient-to-r tw-from-blue-800 tw-to-indigo-900;
}

.tw-primary-gradient-lighter {
  @apply tw-bg-gradient-to-r tw-from-violet-400 tw-to-indigo-400;
}

.tw-primary-gradient-lightest {
  @apply tw-bg-gradient-to-r tw-from-violet-300 tw-to-indigo-400;
}

.tw-gradient-text {
  @apply tw-bg-clip-text tw-text-transparent;
}

.background-pattern {
  /* Định nghĩa các biến cho pattern */
  --bg-pattern-url: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC');
  --bg-pattern-width: 50px; /* Chiều rộng của pattern */
  --bg-pattern-height: 50px; /* Chiều cao của pattern */

  /* Thiết lập hình nền */
  background-image: var(--bg-pattern-url);
  background-size: var(--bg-pattern-width) var(--bg-pattern-height);
  background-repeat: repeat;

  /* Animation cuộn */
  animation: bg-pattern-scrolling 1s linear infinite;
}

/* Keyframes cho hiệu ứng cuộn */
@keyframes bg-pattern-scrolling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--bg-pattern-width) var(--bg-pattern-height);
  }
}
